/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

form {
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

input,
textarea,
button {
    font-family: inherit;
    line-height: inherit;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    background: #507f97;
    color: rgba(71, 92, 111, 0.50);
    font-family: "Apple Symbols";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.wrapper {
    margin: 80px;
    max-width: 1000px;
    border-radius: 20px;
    background: #F8FAFB;
    display: grid;
    grid-template-areas:
        "h h"
        "s m"
        "f f"
    ;
    grid-template-rows: 40px 1fr 40px;
    grid-template-columns: 280px 1fr;
    row-gap: 20px;
    column-gap: 40px;

    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);


}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: h;
}

.container {
    padding: 40px;
}

.header-actions-wrapper {}

.header-actions-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-action-item {}

.theme-btn {}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-btn--light {}

.icon {
    width: 24px;
    height: 24px;
    fill: #475C6F;
    stroke: #475C6F;
    background-color: #5d4b4b;

}

.icon-theme--light {
    border-radius: 50%;
}

.lang-btn {}

.icon-lang {
    border-radius: 50%;
    fill: #cfd8dc;
    stroke: #cfd8dc;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.nav-item {
    color: #475C6F;
    font-family: "Apple Symbols";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sidebar {
    padding: 20px;
    grid-area: s;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main {
    grid-area: m;
}

.about-me-section {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.section {
    padding: 20px;
}

.section-title {
    color: #475c6f6b;
    text-shadow: 0px 4px 4px rgba(133, 193, 233, 0.25);
    font-family: "Apple Symbols";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.title {}

.about-me-text {}

.projects-section {
    display: none;
}

.search-form {}

.search-label {}

.search-input {}

.search-btn {}

.icon-search {}

.projects-list {}

.project-item {}

.project-img {}

.project-title {}

.tools-list {}

.tool-item {}

.icon-tool {}

.links-list {}

.link-item {}

.icon-link {}

.all-tools-list {}

.all-tools-item {}

.contacts-section {
    display: none;
}

.contacts-text {}

.location {}

.contacts-item {}

.contacts-link {}

.footer {
    border-top: 1px solid #E5E5E5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: f;
}

.footer-actions-list {}

.footer-action-item {}

.icon-footer {}