/* * {
  box-sizing: border-box;
} */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgba(71, 92, 111, 0.5);
  font-size: 16px;
  background-color: #507f97;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.page {
  margin: auto;
  display: grid;
  grid-template-areas: 'header' 'main' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr 40px;

  background-color: #fff;
  width:60vw;
  height: 80vh;
  padding: 20px 40px;
  border-radius: 20px;

}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #507f9773 2px solid;
}

.header-actions-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
#divider {
  width: 2px;
  height: 20px;
  background-color: rgba(71, 92, 111, 0.5);
}
.icon {
  fill: rgba(71, 92, 111, 0.5);
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.main {
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 180px 1fr;
  gap: 20px;
  padding: 20px;
  overflow: hidden;
}
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contacts-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.icon-avatar {
  border: 1px solid rgba(71, 92, 111, 0.5);
  border-radius: 50%;
  padding: 5px;
  fill: rgba(71, 92, 111, 0.5);
}
.address {
  font-style: normal;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: #507f9773 2px solid;
}

.footer-actions-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 20px;

  overflow-y: scroll;

padding-top: 40px;
padding-bottom: 40px;

}

.sidebar-title {
  font-weight: 700;
  font-size: 28px;
  color: #b4b8bb;
}
